:root {
    --altura-header: 20vh; /*define altura-header como 20% da viewport*/
    --altura-article: 30vh; /*define altura-article como 30% da viewport*/
}

* {
    margin: 0; /* remove margem padrão dos elementos */
    padding: 0; /* remove padding padrão */
    box-sizing: border-box; /* inclui border/padding no cálculo de dimensões */
}

body{
    background-color: #eee;
    font-family:Arial,sans-serif;
}

header{
    height:var(--altura-header);
    background:linear-gradient(90deg,#e9e7d8,#e9e7d8 60%,orange);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 5%;
}

#logo{
    display:flex;
    align-items:center;
    gap:30px;
}

#logo-img{
    height:120px;
    transition:1s ease-in-out;
}

#logo a:hover #logo-img{
    transform:rotate(360deg);
}

#logo h1{
    font:800 italic 2.5rem Arial;
    color:#1a2a3a;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:#fff;
    font:bold 1.1rem Arial;
}

nav a:hover{
    color:#1a2a3a;
    transform:scale(1.5);
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:40px;
}

#header-main{
    text-align:center;
    margin-bottom:40px;
}

#header-main h2{
    color:#1a2a3a;
    font-weight:bold;
    font-size:3rem;
    margin-bottom:15px;
}

#header-main p{
    color:#555;
    font-style:italic;
    font-size:1.1rem;
}

main section,
#proximos-eventos{
    background:#fff;
    width:100%;
    max-width:900px;
    border-radius:8px;
    padding:40px;
    text-align:center;
}

main section{
    margin-bottom:20px;
}

#proximos-eventos h3,
main section h2{
    color:#fca311;
    font-weight:bold;
}

#proximos-eventos h3{
    font-size:2.8rem;
    margin-bottom:5px;
}

main section h2{
    font-size:2.5rem;
    margin-bottom:25px;
}

section p{
    margin-bottom: 30px;
}

.evento{
    display:flex;
    align-items:center;
    background:#fff;
    border:2px solid #fca311;
    border-radius:6px;
    padding:15px;
    margin-bottom:25px;
    text-align:left;
    transition: 0.3s ease;
}

.evento:hover{
    transform: translateY(-5px) scale(1.02);
    background-color: #ffd199;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.evento:hover h4,
.evento:hover p {
    color: white;
}

.evento img{
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:4px;
    margin-right:20px;
}

.dados-evento{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.dados-evento h4{
    font-size:2.2rem;
}

.dados-evento .data,
.dados-evento .local{
    color:#555;
    font-size:.95rem;
}

footer{
    text-align:center;
    padding:20px;
    color:white;
    font-size:.9rem;
    background-color: #1a232a;
}

main form{
    display:flex;
    flex-direction:column;
    gap:20px;
    text-align:left;
}

main form div{
    display:flex;
    flex-direction:column;
    gap:8px;
}

main form label{
    font-weight:bold;
    color:#444;
}

main form input{
    height:40px;
    font-size:20px;
    padding:10px;
}

main form button{
    width:100%;
    padding:14px;
    background:#1a2a3a;
    color:#fff;
    font-size:1.1rem;
    font-weight:bold;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

main form button:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

main form button[type="submit"]:hover {
    background-color: #8cc63f;
}

main form button[type="reset"]:hover {
    background-color: #ffa500;
}

main form input[type="checkbox"]{
    width:18px;
    height:18px;
    margin-right:8px;
    accent-color:#fca311;
}

main form div:has(input[type="checkbox"]){
    flex-direction:row;
    align-items:center;
}